/* Elements 


*/


/* @TODO learn how to use :after :before line-height */


/* Canvas 
*/
html, body { height: 100%; }

body {
	@include base-font-size($base-font-size, $base-font-weight, $base-font-family);
	@include background-gradient(#FFFFFF, '$secondary');
	color: $primary;
}
.canvas {
	@include canvas;
}


/* OO Styles 
*/
.header, .text-content, .footer { 
	@extend %clear;
}


/* Header 
*/
.header__h1 {
	@include font-size($header-h1-font-size);
	margin: $header-h1-margin;
}

.msg {
	@include font-size($msg-font-size);
	margin: $msg-margin;
}


/* Footer 
*/
.footer {
	margin: $footer-margin;
}

.footer__bits {
	color: $footer-bits-color;
	@include font-size($footer-font-size);
}


/* Links 
*/
a {
	&:hover { color: $hover; }
	&:visited { color: $visited; }
}

a img {
	border: none;
	background: none;
	&:hover img {
		border: none;
		background: none;
		opacity: $base-link-img-hover-opacity;
		filter:alpha(opacity=$base-link-img-hover-alphaopacity);
	}
}


/* Water - Response System */

// Add Water globals here

