/* Elements 
*
*
*/

/* @TODO learn how to use :after :before line-height */

/* Canvas 
*/
html, body { height: 100%; }

body {
	@include base-font-size(); /* 62.5% Baseline */
	@include background-gradient(#FFFFFF, '$secondary');
	color: $primary;
}
.canvas section {
	@include canvas();
}

/* Header 
*/

.header__h1 {
	@include font-size( 2 );
	margin: 0;
}

.msg {
	@include font-size( 0.75 );
	margin: 0 0 -0.25rem;
}

/* Footer 
*/

.footer__bits {
	color: $primary;
	@include font-size( 0.55 );
}

/* Water - Response System */

// Add Water globals here

