<!DOCTYPE html>
<!-- =-=-=-=-=-=-
"Studi˚" - HTML5/SCSS3/JS Collection | Dennis Jefferson
Version: 0.1.2.0 "Removed non layout/style dependencies"
URL: http://water.dennisjefferson.com/
License: 
-->

 <html> <!-- =-=-=-=-=-=- ADD HTML5 Boilerplate Before Publishing -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Studi˚</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
         <link rel="stylesheet" href="css/paint.css">
    </head>

<body>
    
    <section class="canvas">
        
        <header class="header">
            
            <h1 class="header__h1">Studi˚</h1>
    
            <h2 class="msg">"Just remember, once you're over the hill you begin     to pick up speed."</h2>
    
        </header>
    
        <footer class="footer">
              
            <p class="footer__bits">Dennis Jefferson ¬ Crafted in Virginia</p>
    
        </footer>

    </section> 
        
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="js/brush.js"></script>   
        <!-- =-=-=-=-=-=- ADD Google Analytics Before Publishing -->

</body>

</html>